<!doctype html>
<html {{site.language_attributes}}>
<head>
    <meta charset="{{site.charset}}">
    <title>{{function('wp_title')}}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}">
    {{function('wp_head')}}
    <!--[if lte IE 9]>
        <script type="text/javascript" src="{{site.theme.link}}/web/js/vendors/class-list-polyfill.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{site.theme.link}}/web/css/main.css" type="text/css" media="screen">

</head>
