{% block head %}
    {% include 'Partials/Layout/_head.twig' %}
{% endblock %}

<body class="{{body_class}}" data-template="base.twig" id="body">

    {% block header %}
        {% include 'Partials/Layout/_header.twig' %}
    {% endblock %}
    <div id="site-content" class="site-content">

        <div id="top-bar" class="top-bar">
            <a href="https://www.relaischateaux.com/fr/france/restaurant/la-grenouillere-pas-de-calais-la-madelaine-sous-montreuil" target="_blank"><img src="{{site.theme.link}}/web/img/ico_relaiChateau.png" class="relais" width="50" height="52" alt=""/></a>
            <ul class="other-sites">
                <li class="site site-default"><span class="item-content">{{ l18n.otherSites }}</span></li>
                <li class="site site-froggy hideable">
                    <a href="http://www.froggystavern.com/" target="_blank" class="item-link"><img src="{{site.theme.link}}/web/img/logoFroggy.jpg" width="141" height="30" alt="Froggy" class="item-content" /></a>
                </li>
                <li class="site site-anecdote hideable">
                    <a href="http://www.anecdote-restaurant.com/" target="_blank" class="item-link"><img src="{{site.theme.link}}/web/img/logoAnecdote.jpg" width="155" height="30" alt="Anecdote" class="item-content" /></a>
                </li>
                <li class="site site-bis hideable">
                    <a href="http://www.2bischambredhote.com/" target="_blank" class="item-link"><img src="{{site.theme.link}}/web/img/logo2bis.jpg" width="147" height="36" alt="2 bis chambres d'hôtes" class="item-content" /></a>
                </li>
            </ul>
        </div>

        <section id="content" role="main" class="page-sized">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </section>
        <nav class="nav-slit">
            <a id="arrow-prev" class="arrow prev" href="#">
                <span class="icon-wrap">
                    <img src="{{site.theme.link}}/web/img/flecheGauche.svg" width="25" height="76" alt=""/>
                </span>
                <div class="preview"></div>
            </a>
            <a id="arrow-next" class="arrow next" href="#">
                <span class="icon-wrap">
                    <img src="{{site.theme.link}}/web/img/flecheDroit.svg" width="25" height="76" alt=""/>
                </span>
                <div class="preview">
                </div>
            </a>
        </nav>
    </div>

    {% block footer %}

        <div id="breadcrumb" class="breadcrumb col-3">
            <div id="bc-progress" class="bc-progress">
                <img src="{{site.theme.link}}/web/img/grip_timeline_bas.png" id="bc-grip" class="bc-grip" width="23" height="23" alt=""/>
            </div>
            <ul id="bc-content" class="bc-content">
            </ul>
        </div>

        <div class="keyboard-arrows"></div>

        <footer id="footer" class="footer">
            {% include 'Partials/Layout/_footer.twig' %}
        </footer>

        {{ function('wp_footer') }}

        {% include 'Partials/Components/_analytics.twig' %}
    {% endblock %}
    <div id="preloader" class="preloader">
        <img src="{{site.theme.link}}/web/img/logoInt.png" width="275" height="38" alt="La grenouillère"/>
    </div>
</body>
</html>
