{% block head %}
    {% include 'Partials/Layout/_head.twig' %}
{% endblock %}

<body class="{{body_class}}" data-template="base.twig" id="body">

    {% block header %}
        {% include 'Partials/Layout/_header.twig' %}
    {% endblock %}
    <div id="site-content" class="site-content">

        <div id="top-bar" class="top-bar">
            <img src="{{site.theme.link}}/web/img/ico_relaiChateau.png" class="relais" width="50" height="52" alt=""/>
        </div>

        <section id="content" role="main" class="page-sized">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </section>
        <nav class="nav-slit">
            <a id="arrow-prev" class="arrow prev" href="#">
                <span class="icon-wrap">
                    <img src="{{site.theme.link}}/web/img/flecheGauche.svg" width="25" height="76" alt=""/>
                </span>
                <div class="preview"></div>
            </a>
            <a id="arrow-next" class="arrow next" href="#">
                <span class="icon-wrap">
                    <img src="{{site.theme.link}}/web/img/flecheDroit.svg" width="25" height="76" alt=""/>
                </span>
                <div class="preview">
                </div>
            </a>
        </nav>
    </div>

    {% block footer %}

        <div id="breadcrumb" class="breadcrumb col-3">
            <div id="bc-progress" class="bc-progress">
                <img src="{{site.theme.link}}/web/img/grip_timeline_bas.png" id="bc-grip" class="bc-grip" width="23" height="23" alt=""/>
            </div>
            <ul id="bc-content" class="bc-content">
            </ul>
        </div>

        <div class="keyboard-arrows"></div>

        <footer id="footer" class="footer">
            {% include 'Partials/Layout/_footer.twig' %}
        </footer>

        {{ function('wp_footer') }}
    {% endblock %}
    <div id="preloader" class="preloader">
        <img src="{{site.theme.link}}/web/img/logoInt.png" width="275" height="38" alt="La grenouillère"/>
    </div>
</body>
</html>
